body {
  font-family: "Barlow Condensed", sans-serif;
}
h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
}
p {
  text-align: center;
  color: grey;
  font-size: 24px;
  font-weight: bolder;
}
.weather-border {
  border: none;
  margin: 28px;
  padding: 15px;
  border-radius: 5px;
  width: auto;
  height: 700px;
  background: linear-gradient(
    -45deg,
    #1d71f2,
    #1c9cf6,
    #ffcd00,
    #19c3fb,
    #ffcd00
  );
  background-size: 400% 400%;
  animation: gradient 17s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2 {
  font-size: -webkit-xxx-large;
  display: block;
  margin: auto;
  position: relative;
  top: 45px;
  right: -35px;
}
div.city {
  position: relative;
  top: 15px;
  right: -00%;
  width: auto;
  border: 5px solid grey;
  border-radius: 50%;
  border-width: thin;
  height: 95%;
}

.btn-primary {
  display: block;
  margin: 0;
  text-align: center;
  line-height: 15px;
  width: 100px;
  color: #fff;
  background-color: grey;
  border-color: #0d6efd;
}
.btn-secondary {
  display: block;
  margin: auto;
  text-align: center;
  line-height: 15px;
  width: 100px;
  color: #fff;
  background-color: #0d6efd;
  border-color: grey;
}

div.date-body {
  position: relative;
  top: 15px;
  right: -00%;
  width: auto;
  border: 5px solid grey;
  border-radius: 1%;
  border-width: thin;
  text-align: center;
  line-height: 30px;
  font-size: 23px;
}

.TEMP-card {
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  right: -00%;
  width: auto;
  border: 5px solid grey;
  border-width: thin;
  height: 100%;
}
img {
  width: 50px;
}
.Temp-body {
  text-align: center;
}
span.current {
  display: block;
      margin-top: -20px;
}
strong.current-weather {
  font-size: 23px;
}
hr {
  margin: 1rem 0;
  color: inherit;
  margin-bottom: 7px;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
.funny_saying-card {
  position: relative;
  border: 5px solid grey;
  border-width: thin;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 5px 20px 5px 20px;
  font-size: x-large;
  text-align: center;
}
.col-2 {
  width: 20%;
  border: 5px solid grey;
  border-width: thin;
  text-align: center;
  background: linear-gradient(45deg, grey, transparent);
}

.form-control {
  display: block;
  margin: auto;
  width: 100%;
  padding: 7px 7px 7px 7px;
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
}

.col-6 {
  display: block;
  margin: auto;
  border: 5px solid #111111;
  border-radius: 10px;
}
span.current {
  font-size: 40px;
}

a:link {
  text-decoration: none;
}
.TEMP-card .active {
  color: black;
  cursor: default;
}